<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>

        <div id="app">
            <form v-on:submit.prevent="alterarNome()">
                    <input type="text" v-model="textoDigitado">
                    <button type="submit">
                        Add
                    </button>
            </form>

            <input type="text" v-model="textoDigitado" v-on:keyup.enter="alterarNome('Espedito')">
            
            <ul>
                <li v-for="item in array" @click="alerta($event)" style="background:blue">
                    {{item}}
                </li>
            </ul>

            red
            <input @click="corP($event.target.value)" type="radio" name="cor" value="red">
            green
            <input @click="corP($event.target.value)" type="radio" name="cor" value="green">
            blue
            <input @click="corP($event.target.value)" type="radio" name="cor" value="blue">
            yellow
            <input @click="corP($event.target.value)" type="radio" name="cor" value="yellow">
        
            <button @click="vermelho()">Vermelho</button>
            <button @click="verde()">Verde</button>
            <button @click="borda()">Borda</button>
            <button @click="incolor()">Incolor</button>

            <p ref="firstParagraph">
                Ola
            </p>


        </div>


        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    textoDigitado: "",
                    array: [],
                    classParagrafo: "red"
                },
                methods: {
                    alterarNome() {
                        this.array.push(this.textoDigitado);
                        this.textoDigitado = "";
                    },
                    alerta(event) {
                        if(event.target.style.background == 'red none repeat scroll 0% 0%' ) {
                            console.log(event.target.style.background);
                            event.target.style.background =  "blue";
                        }
                        else { 
                            console.log(event.target.style.background);
                            event.target.style.background = "red";
                        }
                    },
                    corP(cor) {
                        this.classParagrafo = cor;
                    },
                    vermelho() {
                        this.$refs.firstParagraph.style.background = "red";
                    },
                    verde() {
                        this.$refs.firstParagraph.style.background = "green";
                    },
                    borda() {
                        this.$refs.firstParagraph.style.border = "3px solid black";
                    },
                    incolor() { 
                        this.$refs.firstParagraph.style = "";
                    }
                }
            })
        </script>
    </body>
</html>