<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Document</title>
    </head>
    <body>

        <div id="app">
            <input type="text" v-model="textoDigitado">
            <br>
            <div v-if="textoDigitado == 1">
                <img v-bind:src="srcImg" :title="titleImg">
            </div>
            <div v-else-if="textoDigitado == 2">
                <img v-bind:src="srcImg2" :title="titleImg">
            </div>
            <div v-else>
                <img v-bind:src="srcImg3" :title="titleImg">
            </div>    
        </div>
        
        <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
        <script>
            new Vue({
                el: '#app',
                data: {
                    textoDigitado: '',
                    srcImg: 'vueLogo.png',
                    srcImg2: 'vueLogo2.jpeg',
                    srcImg3: 'vueLogo3.jpeg',
                    titleImg: 'Logo VUE',
                },
            })
        </script>
    </body>
</html>